@font-face {
  font-family: 'Gost';
  src: url('./fonts/GOST_A.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

html {
  background-color: black;
}

.app {
  max-width: 440px;
  margin: auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  font-family: 'Gost', sans-serif;
  font-size: 24px;
}

.app__header {
  width: calc(100% - 32px);
  height: 60px;
  filter: drop-shadow(0 15px 8px #000000);
  background-color: black;
  position: fixed;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__users {
  padding-top: 75px;
}

.app__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  color: white;
}

.app__user--empty {
  text-align: center;
  color: gray;
}

.app__footer {
  width: calc(100% - 32px);
  height: 200px;
  filter: drop-shadow(0 -15px 8px #000000);
  position: fixed;
  bottom: 0;
  background-color: black;
}
